root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.sh]
shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci

[git/config*]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[sh/profile]
shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci

