root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.lua]
max_line_length = 120

[*.sh]
shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci

[*.bash]
shell_variant      = bash  # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci

[**/git/config**]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

# ~/.profile
[home/dot_profile]
shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
