name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/Iron"
          cache: "npm"
      - run: npm ci
      - uses: leafo/gh-actions-lua@v12
      - uses: leafo/gh-actions-luarocks@v6
      - name: Setup dependencies
        run: |
          pip install vim-vint yamllint
          luarocks install luacheck
          luarocks install lanes
      - name: Install stylua from crates.io
        uses: baptiste0928/cargo-install@v3
        with:
          crate: stylua
      - name: Lint files
        run: make lint
